<ion-header>
  <ion-toolbar>
    <ion-buttons
      slot="start"
      class="back-button ion-activatable"
      (click)="close()"
    >
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="close-outline"></ion-icon>
    </ion-buttons>
    <img src="../../../assets/logos/logo-large.png" />
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-margin-top">
        <ion-label color="dark" class="heading" margin-top
          >Offline Mode</ion-label
        >
      </ion-col></ion-row
    ></ion-grid
  >

  <div class="details ion-margin-bottom">
    <ion-grid class="ion-no-padding ion-text-left">
      <ion-row>
        <ion-col size="12">
          <p>You are currently not connected to the internet. As a result:</p>
          <ul>
            <li>the app may not have the latest data;</li>
            <li>
              you will not be able to conduct searches using the SAMHSA
              Treatment locator. However you can see the results of previously
              saved searches from the My Searches tab;
            </li>
            <li>
              PDF files and other external resources may not be available.
            </li>
          </ul>
        </ion-col>
      </ion-row></ion-grid
    >
  </div>
</ion-content>

<!-- <ion-row class="content">
      <ion-col size="12">
        <div
          id="textfield"
          class="excerpted-from"
          style="background-color: red; padding: 8px;"
        >
          <p>You are currently not connected to the internet. As a result:</p>
          <ul>
            <li>the app may not have the latest data;</li>
            <li>
              you will not be able to conduct searches using the SAMHSA
              Treatment locator. However you can see the results of previously
              saved searches from the My Searches tab;
            </li>
            <li>
              PDF files and other external resources may not be available.
            </li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p>You are currently not connected to the internet. As a result:</p>
  <ul>
    <li>the app may not have the latest data;</li>
    <li>
      you will not be able to conduct searches using the SAMHSA Treatment
      locator. However you can see the results of previously saved searches from
      the My Searches tab;
    </li>
    <li>PDF files and other external resources may not be available.</li>
  </ul>
</ion-content> -->
